#ignores everything in the .idea directory
.idea/**

#ignores everything in the .gradle under the main folder
ExtendedKalmanFilter/.gradle/**


#ignores everything in the /gradle under the main folder
ExtendedKalmanFilter/gradle/**

